/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.bg-color1{
    background-color: #fff9f4;
}
.size {
    width: 30%;
    height: 25%;
}
.text-color1{
    color: #fa804c;
}
.text-color2{
    color: #363958;
}
.buy-btn{
    background-color: #3a4adc;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
}
.bg-card{
    background: #f1f1f1;
}
.img-width{
    width: 15%;
    height: 15%;
}